@import "@folio/stripes-components/lib/variables.css";

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: var(--gutter);
  border: 1px dashed var(--color-border);
  border-radius: var(--radius);
  background-color: var(--color-fill);
}

.uploadTitle {
  margin-top: var(--gutter);
  margin-bottom: var(--gutter-static-two-thirds);
  font-weight: 600;
  text-align: center;
}

.activeUpload {
  border-style: dashed;
  color: var(--bg);
  background-color: var(--color-fill-current);
}

.activeUploadTitle {
  font-size: var(--font-size-large);
}

.children {
  flex: 1;
  padding-bottom: var(--gutter-static-one-third);
}

.footer {
  width: 100%;
  padding: var(--gutter-static-one-third) var(--gutter);
  border-top: 1px solid var(--color-border);
}

.errorMessage {
  margin: var(--gutter);
  color: var(--error);
}

/* Polyfill for proper work of `hidden` attribute */
[hidden] {
  display: none;
}
